.container-fluid
  .row.newShop-details
  .row.newShop-form
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Add Shop
          .form-group
            label Name
            |             
          input.form-control(type='text', ng-model='form.name' name='name')
          |         
          button(ng-click='addShop()').btn.btn-warning.btn-lg Add Shop
        |     
        hr