div
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Login
          .form-group
            label Email
            |             
          input.form-control(type='text', ng-model='form.email' name='email')
          |         
          .form-group
            label Password
            |             
          input.form-control(type='password', ng-model='form.password' name='password')
          |         
          button(ng-click='getUser()').btn.btn-warning.btn-lg Signup
        |     
        hr
        |     
        p
          | Need an account? 
          a(href='/signup') Signup
        |     
        p
          | Or go to 
          a(href='/marketPlace') Market Place
          | .
