p There are {{shops.length}} shops
div(ng-repeat='shop in shops')
  h3 {{shop.title}}
  div {{shop.text}}
  a(href='/readPost/{{shop.id}}') More
  |  - 
  a(href='/editPost/{{shop.id}}') Edit
  |  - 
  a(href='/deletePost/{{shop.id}}') Delete
div.text-center
  a(href='/readPost/{{shop.id}}') Add Shop