p There are {{shops.length}} shops
div(ng-repeat='shop in shops')
  h3 {{shop.name}}
  div {{shop.owner}}
  a(href='/marketPlace/{{shop._id}}') More
  |  - 
  a(href='/marketPlace/{{shop._id}}') Edit
  |  - 
  a(href='/marketPlace/{{shop._id}}') Delete